<?xml version='1.0' encoding='utf-8'?>
<widget id="org.byteball.wallet"
  version="2.7.2"
  android-versionCode="1079"
  ios-CFBundleVersion="2.7.2" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Obyte</name>
    <description>
      Obyte wallet.
    </description>
    <author email="o@obyte.org" href="https://obyte.org">
        Obyte
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="ShowSplashScreenSpinner" value="false" /> 
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="500" />
    <preference name="FadeSplashScreen" value="true" />  
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="BackgroundColor" value="#2C3E50" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#2C3E50" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="BackupWebStorage" value="none"/>
    <preference name="windows-target-version" value="8.1"/>
    <preference name="Orientation" value="portrait" />
	<preference name="KeepRunning" value="false"/>
	<preference name="android-minSdkVersion" value="19" />
	<preference name="android-targetSdkVersion" value="28" />
	<preference name="deployment-target" value="9.0" />
	<preference name="AndroidLaunchMode" value="singleTask" />
	<splash density="xxhdpi" src="splashscreen@2x~universal~anyany.png"/>
    
    <platform name="ios">
      <icon src="icons/icon-83.5@2x.png" width="167" height="167" />
      <icon src="icons/icon-60@3x.png" width="180" height="180" />
      <icon src="icons/icon-60.png" width="60" height="60" />
      <icon src="icons/icon-60@2x.png" width="120" height="120" />
      <icon src="icons/icon-76.png" width="76" height="76" />
      <icon src="icons/icon-76@2x.png" width="152" height="152" />
      <icon src="icons/icon-small-20.png" width="20" height="20" />
      <icon src="icons/icon-small-40.png" width="40" height="40" />
      <icon src="icons/icon-small-40@2x.png" width="80" height="80" />
      <icon src="icons/icon.png" width="57" height="57" />
      <icon src="icons/icon@2x.png" width="114" height="114" />
      <icon src="icons/icon-72.png" width="72" height="72" />
      <icon src="icons/icon-72@2x.png" width="144" height="144" />
      <icon src="icons/icon-small.png" width="29" height="29" />
      <icon src="icons/icon-small@2x.png" width="58" height="58" />
      <icon src="icons/icon-small@3x.png" width="87" height="87" />
      <icon src="icons/icon-small-50.png" width="50" height="50" />
      <icon src="icons/icon-small-50@2x.png" width="100" height="100" /> 
      <icon src="icons/iTunesArtwork.png" width="512" height="512" />
      <icon src="icons/iTunesArtwork@2x.png" width="1024" height="1024" />

      <config-file target="*-Info.plist" parent="UTExportedTypeDeclarations">
	    	<array>
				<dict>
				    <key>UTTypeConformsTo</key>
				    <array>
				        <string>public.data</string>
				    </array>
				    <key>UTTypeDescription</key>
				    <string>Obyte Private Coin</string>
				    <key>UTTypeIdentifier</key>
				    <string>org.obyte.coin</string>
				    <key>UTTypeTagSpecification</key>
				    <dict>
				        <key>public.filename-extension</key>
				        <string>coin</string>
				        <key>public.mime-type</key>
				        <string>application/x-obyte</string>
				    </dict>
				</dict>
				</array>
		</config-file>
		<config-file target="*-Info.plist" parent="CFBundleDocumentTypes">
	    	<array>
			    <dict>
			        <key>CFBundleTypeName</key>
			        <string>Obyte Private Coin</string>
			        <key>LSHandlerRank</key>
			        <string>Owner</string>
			        <key>LSItemContentTypes</key>
			        <array>
			            <string>org.obyte.coin</string>
			        </array>
			    </dict>
			</array>
		</config-file>
		<config-file target="*-Info.plist" parent="LSSupportsOpeningDocumentsInPlace">
			<false/>
		</config-file>
		<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
			<string>This app uses camera to scan qr-codes</string>
		</edit-config>
    </platform>

    <platform name="android">
    	<resource-file src="icons/notification.png" target="app/src/main/res/drawable-xxhdpi/notification.png" />
    	<config-file target="res/values/colors.xml" parent="/resources">
	    	<color name="background">#2C3E50</color>
		</config-file>
    	<icon background="@color/background" density="xxxhdpi" foreground="icons/icon.png" />
  
    	<config-file target="AndroidManifest.xml" parent="./application/activity">
	    	<intent-filter android:priority="1">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-byteball" />
                <data android:mimeType="application/byteball" />
                <data android:mimeType="application/x-obyte" />
                <data android:mimeType="application/obyte" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="*/coin" />
                <data android:mimeType="application/coin" />
            </intent-filter>
		</config-file>

		<resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
</widget>
