<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Add a new device'; goBackToState = true; noColor = true; index.tab = 'chat'">
</div>



<div class="content">
<ul class="no-bullet manage size-12">
	<li>
		<a ng-click="$root.go('correspondentDevices.addCorrespondentDevice.inviteCorrespondentDevice')">
			<i class="fi-die-four circle plus-fixed"></i>	
			<i class="icon-arrow-right3 size-18 right m20t"></i>  
			<span translate>Invite the other device</span>
		</a>
	</li>
	<li>
		<a ng-click="$root.go('correspondentDevices.addCorrespondentDevice.acceptCorrespondentInvitation')">
			<i class="icon-scan circle"></i>	  
			<i class="icon-arrow-right3 size-18 right m20t"></i>  
			<span translate style="max-width: 60%">Accept invitation from the other device</span>
		</a>
	</li>

</ul>
</div>
<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>
