<div ng-controller="correspondentDevicesController">

<div class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="showCamera = true"
  ng-show="state.is('correspondentDevices')">
</div>

	<div ui-view="dialog"></div>
    <div class="m20b tab-view tab-in" ng-show="state.is('correspondentDevices')" id="chat">
      <ul class="no-bullet m0 correspondentList" ng-init="readList()">
        <li class="p10 line-b" ng-repeat="correspondent in list | orderBy:newMsgByAddressComparator">
          <a ng-show="selectedCorrespondentList[correspondent.device_address]" 
            ng-hide="hideRemoveButton(correspondent.removable)"
            class="removeCorrespondentList" 
            ng-click="remove(correspondent.device_address)" translate>Remove</a>
          <a class="selectCorrespondentList" 
            ng-show="editCorrespondentList" 
            ng-click="toggleSelectCorrespondentList(correspondent.device_address)">
            <i class="fi-trash"></i></a> 
          <div ng-click="showCorrespondent(correspondent)" class="pointer"> 
            {{correspondent.name}} ({{correspondent.device_address | limitTo:4}}...)
            <div class="right text-gray"><i class="icon-arrow-right3 size-24" ng-show="!editCorrespondentList"></i></div>
            <div class="right correspondentlist_badge" ng-show="newMessagesCount[correspondent.device_address]">{{newMessagesCount[correspondent.device_address]}}</div>
            <div class="size-10 text-gray ellipsis">{{correspondent.device_address}}@{{correspondent.hub}}</div>
          </div>
        </li>
        <li class="m10t" ng-show="!editCorrespondentList">
          <a ng-click="beginAddCorrespondent()" class="p10">
            <i class="fi-plus size-18 m10r" style="vertical-align: middle;"></i> 
            <span class="text-close size-12" translate>Add a new device</span> 
          </a>
        </li>
        <li class="m10t" ng-show="!editCorrespondentList">
          <a ng-click="hideRemove = !hideRemove" class="p10">
            <i class="fi-minus size-18 m10r" style="vertical-align: middle;"></i> 
            <span class="text-close size-12" translate>Remove device</span> 
          </a>
        </li>
      </ul>


    </div>
    
</div>
<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>