<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Invite new device'|translate; goBackToState = true; showCamera = true; ">
</div>



<div ng-controller="inviteCorrespondentDeviceController" style="position: absolute; width: 100%; top:45px; bottom: 37px; overflow: scroll;">

    

    <div class="m20b">

      <div class="text-center">
        <div class="columns m10t" >
            <div ng-click="copyCode()">
                <qrcode size="220" version="{{qr_version}}" data="{{protocol}}:{{code}}"></qrcode>
            </div>
            <div class="m10t">
				<span translate>Scan the above QR code using the other device, or send this pairing code to the other device:</span>
                <div class="secret m10t m20b enable_text_select">{{code}}</div>
            </div>
          <div class="row">
              <input type="button" 
                     class="button expand outline dark-gray round" 
                     ng-click="$root.go('^', true); goBackToState = null"
                     value="{{'Done'|translate}}">
          </div>
        </div>
      
      </div>

    </div>

    
</div>
<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>