<div
		class="topbar-container"
		ng-include="'views/includes/topbar.html'"
		ng-init="titleSection='TOR'; goBackToState = true">
</div>

<div class="content preferences" ng-controller="preferencesTorController as tor">
	<h4></h4>
	<form class="columns" ng-submit="save(true)">
		<div style="margin-bottom: 20px">
			<switch name="torEnabled" ng-model="torEnabled" class="green right"></switch>
			<div>TOR enabled</div>
		</div>
		<label><span translate>Host</span></label>
		<input type="text" id="host" name="host" ng-model="socksHost" placeholder="127.0.0.1">
		<label><span translate>Port</span></label>
		<div class="text-warning size-12 m10b" ng-show="errorPortInput">{{errorPortInput}}</div>
		<input type="text" id="port" name="port" ng-model="socksPort" placeholder="9150">
		<input type="submit" class="button expand black round" value="{{'Save'|translate}}"
			   ng-style="{'background-color':index.backgroundColor}">
	</form>
</div>
