<div
	class="topbar-container"
	ng-include="'views/includes/topbar.html'"
	ng-init="titleSection='Real name attestor addresses'; goBackToState = true">
</div>

<div class="content preferences" ng-controller="preferencesEditRealNameAttestorsCtrl as ctrl">

	<h4></h4>
	<form name="editAttestorAddressForm" ng-submit="ctrl.save()" class="columns">
		<div class="text-warning size-12 m10b" ng-show="ctrl.error">{{ctrl.error|translate}}</div>

		<div class="row m20t">
			<label>
				<span translate>Addresses</span>
			</label>
			<span ng-repeat="pair in ctrl.attestorAddresses">
				<input type="text" ng-model="pair.address" class="datafeed_input" ng-required="true" ng-maxlength="32" maxlength="32" valid-address style="width:90%; display: inline-block;">
				<a ng-click="ctrl.removeAttestorAddress(pair.address)"><i class="fi-minus size-18 m10r" style="vertical-align: middle;"></i></a>
			</span>
			<i></i>
			<div class="clear"></div>
			<a ng-click="ctrl.attestorAddresses.push({})" style="padding:10px 0;">
				<i class="fi-plus size-18 m10r" style="vertical-align: middle;"></i> 
				<span class="text-close size-12" translate>Add address</span> 
			</a>
		</div>

		<input type="submit" class="button expand black round m20t" value="{{'Save'|translate}}"
			ng-style="{'background-color':index.backgroundColor}" ng-disabled="editAttestorAddressForm.$invalid">
	</form>

</div>
<div class="extra-margin-bottom"></div>
