<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Edit witness'; goBackToState = true">
</div>

<div class="content preferences" ng-controller="preferencesEditWitnessController as ewc">


  <h4></h4>
  <form name="editWitnessForm" ng-submit="ewc.save()" class="columns">
    <div class="text-warning size-12 m10b" ng-show="ewc.error">{{ewc.error|translate}}</div>
    <label><span translate>Witness address</span></label>
    <input type="text" id="witness" type="text" name="witness" ng-model="ewc.witness">
    <input type="submit" class="button expand black round" value="{{'Save'|translate}}" ng-style="{'background-color':index.backgroundColor}">
    <ul class="no-bullet m0 correspondentList">
      <li class="bots-list line-b" ng-repeat="wtn in ewc.witnessesKnown | filter:ewc.witness" ng-click="ewc.witness = wtn">
        <span>{{wtn}}</span>
      </li>
    </ul>
  </form>

</div>
<div class="extra-margin-bottom"></div>
<style>
  .preferences ul li {
    padding: 13px 20px 13px 0;
  }
  .preferences ul li:first-child {
    border-top: 1px solid #E9E9EC;
  }
  .preferences ul li:last-child {
    border-bottom: none;
  }
</style>
