<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Witnesses'; goBackToState = true">
</div>

<div class="content preferences" ng-controller="preferencesWitnessesController as wc">
	<ul class="no-bullet m0">
		<li>
			<switch name="autoUpdWitnessesList" ng-model="autoUpdWitnessesList" class="green right"></switch>
			<div translate>Auto-update the witness list from the hub</div>
		</li>
	</ul>
    <ul class="no-bullet m0" ng-class="{'autoUpdatingWitnessesList' : autoUpdWitnessesList}">
        <li ng-repeat="witness in wc.witnesses" ng-click="wc.edit(witness)">
            <span  ng-click="wc.edit(witness)">
                <i class="icon-arrow-right3 size-24 right text-gray"></i>
			    <span class="address" title="{{witness}}"><b>Address:</b> {{witness}}</span>
			    <span class="name" ng-if="wc.witnessesAditionalInfo[witness].name"><b>Name:</b> {{wc.witnessesAditionalInfo[witness].name}}</span>
		    </span>
          <span class="url" ng-if="wc.witnessesAditionalInfo[witness].url"><b>URL:</b>
              <a href="{{wc.witnessesAditionalInfo[witness].url}}" target="_blank">{{wc.witnessesAditionalInfo[witness].url}}</a>
          </span>
        </li>
    </ul>

</div>
<style>
  .autoUpdatingWitnessesList {
    color: #C1C1C1;
  }
  .autoUpdatingWitnessesList a {
      color: rgba(52, 152, 219, 0.60);
      pointer-events: none;
  }
</style>
