<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Color'; goBackToState = true">
</div>



<div class="content preferences" ng-controller="preferencesColorController as p">
  <ul class="no-bullet m0">
  <li ng-repeat="c in p.colorOpts" ng-click="p.save(c.hexValue)">
    <span ng-style="{'background-color': c.hexValue}" style=" width:20px; height:20px; border-radius:50%; display:inline-block; color:transparent;" >&block;</span>
    <span style="margin-left:10px;">{{c.colorName}}</span>
    <i class="fi-check size-14 right" ng-show="p.color == c.hexValue"></i>
  </li>
  </ul>
</div>
<div class="extra-margin-bottom"></div>
