
<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Preferences'; closeToHome = true">
</div>


<div class="content preferences" ng-controller="preferencesController as preferences" ng-init="preferences.init()">

  <h4></h4>
  <ul class="no-bullet m0" ng-show="!index.noFocusedWallet">


    <li  ng-click="$root.go('preferences.preferencesAlias')">
      <div class="right text-gray">
        {{index.alias||index.walletName}}
        <i class="icon-arrow-right3 size-24"></i>
      </div>
      <div translate>Wallet Alias</div>
    </li>


    <li ng-click="$root.go('preferences.preferencesColor')">
      <div class="right text-gray">
        <span ng-style="{'color':index.backgroundColor}">&block;</span>
        <i class="icon-arrow-right3 size-24"></i>
      </div>      
      <div translate>Color</div>
    </li>

    <li style="padding: 13px 20px 5px">
	    <div class="right text-gray">
	        <switch ng-model="index.isSingleAddress" class="green right" data-disabled="!bEditable"></switch>
	    </div>
	    <div translate>Single address wallet</div>
	    <div class="description m10b">
      	<span ng-if="bEditable" translate>Single address wallets will not spawn new addresses for every transaction, change will always go to the one and only address the wallet contains.</span>
      	<span ng-if="numAddresses > 1" translate>This wallet cannot be converted to single address wallet as it already consists of multiple addresses</span>
      	<span ng-if="!index.isSingleAddress && numAddresses == 1 && numCosigners > 1" translate>This wallet cannot be converted to single address wallet as it is multidevice</span>
      	<span ng-if="index.isSingleAddress && numCosigners > 1" translate>This wallet cannot be converted to multi address wallet as it is multidevice</span>
      	<span ng-if="index.isSingleAddress && numCosigners == 1 && bHasAttestations" translate>This wallet cannot be converted to multi address wallet as it already has attestations</span>
      </div>
     </li>

    <li ng-show="index.isPrivKeyExternal">
      <div class="right text-gray">
        {{preferences.externalSource}} 
        <!-- (Accont {{preferences.externalAccount}}) -->
      </div>
      <div translate>Hardware wallet</div>
    </li> 

    <h4>
    </h4>
 
    <li ng-click="$root.go('preferences.preferencesAdvanced')">
      <i class="icon-arrow-right3 size-24 right text-gray"></i>  
      <div translate>Advanced</div>
    </li>
  </ul>
  <div ng-show="!index.noFocusedWallet && index.canSign && preferences.touchidAvailable">
    <h4 translate  ng-show="index.canSign">
      Spending Restrictions
    </h4>
    <ul class="no-bullet m0">
      <li  ng-show="preferences.touchidAvailable">
        <switch id="touchid" name="touchid" ng-model="touchid" class="green right"></switch>
        <div translate>Scan Fingerprint</div>
      </li>
    </ul>
  </div>
  <h4></h4>

</div>
<div class="extra-margin-bottom"></div>
