<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Witnesses'; goBackToState = true">
</div>

<div class="content preferences" ng-controller="preferencesWitnessesController as wc">
	<div class="m10t row">
			<p class="columns size-14" translate>Witnesses are addresses whose presence in the DAG can be used to prove the existence of an earlier transaction. They are expected to post frequently enough.</p>
      <p class="columns size-14" translate>Light nodes use them to verify that certain transactions do exist in the DAG. Full nodes use them for initial syncing but still fully verify every transaction.</p>
  </div>
	<ul class="no-bullet m0">
		<li>
			<switch name="autoUpdWitnessesList" ng-model="autoUpdWitnessesList" class="green right"></switch>
			<div style="white-space: normal;" translate>Auto-update the witness list from the hub</div>
		</li>
	</ul>
  <ul class="no-bullet m0" ng-class="{'autoUpdatingWitnessesList' : autoUpdWitnessesList}">
      <li ng-repeat="witness in wc.witnesses">
        <span ng-click="wc.edit(witness)">
          <i class="icon-arrow-right3 size-24 right text-gray"></i>
          <span class="address" title="{{witness}}">
            {{witness}}
          </span>
          <span class="name" ng-if="wc.witnessesAddInfo[witness].name">
            {{wc.witnessesAddInfo[witness].name}}
          </span>
        </span>
        <span class="url" ng-if="wc.witnessesAddInfo[witness].url">
          <a href ng-click="$root.openExternalLink(wc.witnessesAddInfo[witness].url)">{{wc.witnessesAddInfo[witness].url}}</a>
        </span>
      </li>
  </ul>
</div>
<style>
  .autoUpdatingWitnessesList {
    color: #C1C1C1;
  }
</style>
