<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Edit witness'; goBackToState = true">
</div>

<div class="content preferences" ng-controller="preferencesEditWitnessController as ewc">
  <h4></h4>
  <form name="editWitnessForm" ng-submit="ewc.save()" class="columns">
    <div class="text-warning size-12 m10b" ng-show="ewc.error">{{ewc.error|translate}}</div>
    <div class="form-group" click-outside="ewc.suggestToggle = false">
      <label><span translate>Witness address</span></label>
      <input
              type="text"
              id="witness"
              autocomplete="off"
              name="witness"
              ng-model="ewc.witness"
              ng-focus="ewc.suggestToggle = true"
      >
      <ul class="no-bullet m0 suggest-list" ng-if="ewc.suggestToggle && ewc.witnessesKnown.length">
        <li class="bots-list line-b" ng-repeat="wtn in ewc.witnessesKnown">
          <span class="block" ng-click="ewc.toggleList(wtn)">
            <span class="block">
              <span>{{wtn}}</span>
            </span>
            <span class="block" ng-if="ewc.witnessesAddInfo[wtn].name">
              <span>{{ewc.witnessesAddInfo[wtn].name}}</span>
            </span>
          </span>
          <span class="block" ng-if="ewc.witnessesAddInfo[wtn].url">
            <a href ng-click="$root.openExternalLink(ewc.witnessesAddInfo[wtn].url)">{{ewc.witnessesAddInfo[wtn].url}}</a>
          </span>
        </li>
      </ul>
    </div>
    <input type="submit" class="button expand black round" value="{{'Save'|translate}}" ng-style="{'background-color':index.backgroundColor}">
  </form>
</div>
<div class="extra-margin-bottom"></div>
<style>
  .form-group {
    position: relative;
  }
  .suggest-list {
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    /*border: 1px solid #A5B2BF;*/
    max-height: calc(100vh - 160px);
    overflow: auto;
    z-index: 1;
  }
  .preferences .suggest-list li {
    padding: 5px 10px;
  }
  .suggest-list li:hover {
    background-color: #E4E4E4;
  }
  .suggest-list li .block {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
