<div
	class="topbar-container"
	ng-include="'views/includes/topbar.html'"
	ng-init="titleSection='Recovery'; goBackToState = 'preferencesGlobal'">
</div>

<style>
	.preferences ul.warnings{
		margin-left: 0px;
		background-color: transparent;
	}
	.preferences ul.warnings li{
		cursor: auto !important;
		overflow: auto;
		white-space: normal;
	}
</style>

<div class="content preferences" ng-controller="recoveryFromSeed as recFromSeed">
	<h4></h4>

	<div class="box-notification" ng-show="recFromSeed.error">
	<span class="text-warning">
		{{recFromSeed.error}}
	</span>
	</div>

	<div ng-show="recFromSeed.bLight">
		<div class="row">
			<div class="columns center">
				Recovery is only available in the full version.
			</div>
		</div>
	</div>
	<div ng-show="!recFromSeed.bLight">
		<form name="settingsDeviceNameForm" class="columns" ng-submit="recFromSeed.recoveryForm()">
			<label><span>Your Wallet Seed:</span></label>
			<textarea id="inputMnemonic" ng-model="recFromSeed.inputMnemonic"></textarea>
			<input ng-show="!recFromSeed.scanning" type="submit" class="button expand black round"
				   value="{{'Recover'|translate}}" ng-style="{'background-color':index.backgroundColor}">

			<div ng-show="recFromSeed.scanning" class="text-center">Please wait while the database is being scanned for addresses...</div>
		</form>
		<div class="text-alert size-12 columns">
			WARNINGS:
			<ul class="warnings">
				<li>This will permanently delete all your existing wallets!</li>
				<li>Private assets (such as blackbytes) are not recovered.</li>
				<li>Only single-sig wallets can be recovered.</li>
			</ul>
		</div>
	</div>

</div>
<div class="extra-margin-bottom"></div>
