<div
	class="topbar-container"
	ng-include="'views/includes/topbar.html'"
	ng-init="titleSection='Recovery'; goBackToState = true">
</div>

<div class="content preferences" ng-controller="recoveryFromSeed as recFromSeed">
	<h4></h4>

	<div class="onGoingProcess" ng-show="recFromSeed.scanning">
		<div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
			<span translate> Scanning for addresses... </span>
		</div>
	</div>

	<div class="box-notification" ng-show="recFromSeed.error">
	<span class="text-warning">
		{{recFromSeed.error}}
	</span>
	</div>

	<div>
		<form name="settingsDeviceNameForm" class="columns" ng-submit="recFromSeed.recoveryForm()">
			<label><span translate>Your Wallet Seed:</span></label>
			<textarea id="inputMnemonic" ng-model="recFromSeed.inputMnemonic" autocomplete="off"></textarea>
			<input ng-show="!recFromSeed.scanning" type="submit" class="button expand black round"
				   value="{{'Recover'|translate}}" ng-style="{'background-color':index.backgroundColor}">
		</form>
		<div class="text-alert size-12 columns">
			<span translate>WARNINGS:</span>
			<ul class="warnings">
				<li translate>This will permanently delete all your existing wallets!</li>
				<li translate>Private assets (such as blackbytes) are not recovered.</li>
				<li translate>Only single-sig wallets can be recovered.</li>
				<li translate>Correspondents are not restored.</li>
				<li translate>Do not clone wallets, stop using the original wallet with this seed.</li>
			</ul>
		</div>
	</div>

</div>
<div class="extra-margin-bottom"></div>
