<style>
	.dark-centered-input{
		text-align: center;
		border-bottom-color: #8597A7 !important;
		padding-left: 8px !important;
		padding-right: 8px !important;
	}
	.dark-centered-input:focus{
		color: #8597A7 !important;
	}
</style>
<div class="splash content text-center" 
	ng-init="splash.init()" 
	ng-controller="splashController as splash">
	<div ng-if="!index.hasProfile">
		<div ng-if="splash.step === 'wallet_type'">
			<div class="row text-left" style="margin-top: 40px">
				<div class="start-button large-10 medium-10 small-10 medium-centered small-centered large-centered columns">

					<label><span class="text-white size-14" translate>Please choose how much data to store in your wallet</span></label>
					<p class="text-gray size-14 m0 text-light" translate>This choice cannot be changed later</p>
					
					<div class="m20t">
						<div style="display: table">
							<div style="display: table-cell; padding-right: 10px"><input type="radio" name="wallet_type" value="full" ng-model="splash.wallet_type" id="wallet_type_full"></div>
							<div style="display: table-cell"><label class="text-gray size-14" style="vertical-align: middle" for="wallet_type_full" translate>Download the entire Byteball database</label></div>
						</div>
						<p class="text-gray size-14 m0 text-light" translate>
							This option is better for privacy but will take  several gigabytes of storage and the initial sync will take several days.  CPU load will be high during sync.
						</p>
					</div>
					
					<div class="m20t">
						<div style="display: table">
							<div style="display: table-cell; padding-right: 10px"><input type="radio" name="wallet_type" value="light" ng-model="splash.wallet_type" id="wallet_type_light"></div>
							<div style="display: table-cell"><label class="text-gray size-14" style="vertical-align: middle" for="wallet_type_light" translate>Keep only data relevant to you</label></div>
						</div>
						<p class="text-gray size-14 m0 text-light" translate>
							The wallet vendor will be able to know some of your balances and will be able to see which transactions are yours, but you can start using the wallet immediately and the wallet is fully functional.
						</p>
					</div>
					
					<button ng-click="splash.setWalletType()" class="button black expand round size-12 text-spacing m20t" translate>
						CONTINUE
					</button>
				</div>
			</div>
		</div>
		<div ng-if="splash.step === 'device_name'">
			<div class="row">
				<div class="medium-centered small-centered large-centered columns">
					<div class="m20t">
						<span class="text-bold size-16 text-white" translate>WELCOME TO BYTEBALL</span>
						<p class="text-gray size-14 m0 text-light" donttranslate>Smart payments made simple</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container-image large-3 medium-3 small-3 medium-centered small-centered large-centered columns">
					<img src="img/icon-splash.png" alt="icon" width="100%">
				</div>
			</div>
			<div class="text-center size-12 text-warning" ng-show="splash.error && !splash.creatingProfile">
				{{splash.error|translate}}. <span translate>Retrying...</span>
			</div>
			<div class="onGoingProcess" ng-show="splash.creatingProfile">
				<div class="onGoingProcess-content" ng-style="{'background-color':'#222'}">
					<div class="spinner">
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
					</div>
					<span translate>Creating Profile...</span>
				</div>
			</div>
			<div class="row" ng-show="!splash.creatingProfile">
				<div class="start-button large-8 medium-8 small-8 medium-centered small-centered large-centered columns">

					<div ng-show="!splash.bDeviceNameSet">
						<label><span class="text-gray" translate>Please name this device</span></label>
						<input type="text" id="deviceName" type="text" name="deviceName" ng-model="splash.deviceName" class="text-gray dark-centered-input">

						<button ng-click="splash.saveDeviceName()" class="button black expand round size-12 text-spacing" ng-disabled="!splash.deviceName" translate>
							CONTINUE
						</button>
					</div>
					<div ng-show="splash.bDeviceNameSet">
						<p class="text-gray size-14 m0 text-light m20b" translate>Your wallet will be created on this device, keep it safe.  See your backup options in the Settings menu.</p>
						<p class="text-gray size-14 m0 text-light m20b" translate>Also in the Settings menu, you will find security options such as setting a password.</p>
						<button ng-click="splash.create()" class="button black expand round size-12 text-spacing" translate>
							GET STARTED
						</button>
					</div>
					<!--
					<p class="text-gray m5b size-12" translate>Already have a wallet?</p>
					<button  ng-click="splash.create(true)" class="button round outline dark-gray tiny" ng-disabled="!splash.deviceName" translate>Import backup </button>
					-->
				</div>
			</div>
		</div>
	</div>
</div>
