<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Translators'; goBackToState = true">
</div>

<div class="content preferences">
  <h4 class="title m0" translate>Translation Credits</h4>
  <ul class="no-bullet m0 size-14">
    <li class="line-b p10">kinoshitajona<span class="right text-gray size-12" >Japanese</span></li>
    <li class="line-b p10">Kirvx<span class="right text-gray size-12" >French</span></li>
    <li class="line-b p10">Ghoom<span class="right text-gray size-12" >French</span></li>
    <li class="line-b p10">ByteFan<span class="right text-gray size-12" >French</span></li>
    <li class="line-b p10">frouck<span class="right text-gray size-12" >French</span></li>
    <li class="line-b p10">HostFat<span class="right text-gray size-12" >Italian</span></li>
    <li class="line-b p10">koalalorenzo<span class="right text-gray size-12" >Italian</span></li>
    <li class="line-b p10">nicolazza<span class="right text-gray size-12" >Italian</span></li>
    <li class="line-b p10">ParmaBTC<span class="right text-gray size-12" >Italian</span></li>
    <li class="line-b p10">webba<span class="right text-gray size-12" >Italian</span></li>
    <li class="line-b p10">saschad<span class="right text-gray size-12" >German</span></li>
    <li class="line-b p10">8597fde7<span class="right text-gray size-12" >German</span></li>
    <li class="line-b p10">rubbish0815<span class="right text-gray size-12" >German</span></li>
    <li class="line-b p10">limxdev<span class="right text-gray size-12" >German</span></li>
    <li class="line-b p10">gweigster<span class="right text-gray size-12" >German</span></li>
    <li class="line-b p10">pmichelazzo<span class="right text-gray size-12" >Portuguese</span></li>
    <li class="line-b p10">DanloRingess<span class="right text-gray size-12" >Portuguese</span></li>
    <li class="line-b p10">johnblazakis<span class="right text-gray size-12" >Greek</span></li>
    <li class="line-b p10">chek2fire1<span class="right text-gray size-12" >Greek</span></li>
    <li class="line-b p10">sotiris2009<span class="right text-gray size-12" >Greek</span></li>
    <li class="line-b p10">cmgustavo83<span class="right text-gray size-12" >Spanish</span></li>
    <li class="line-b p10">david.garijo.sb<span class="right text-gray size-12" >Spanish</span></li>
    <li class="line-b p10">lax5<span class="right text-gray size-12" >Russian</span></li>
    <li class="line-b p10">testz<span class="right text-gray size-12" >Russian</span></li>
    <li class="line-b p10">zuqka<span class="right text-gray size-12" >Albanian</span></li>
    <li class="line-b p10">davidoski<span class="right text-gray size-12" >Polish</span></li>
    <li class="line-b p10">sva_h4cky0<span class="right text-gray size-12" >Indonesian</span></li>
    <li class="line-b p10">denniswilmink<span class="right text-gray size-12" >Dutch</span></li>
    <li class="line-b p10">Odrak<span class="right text-gray size-12" >Dutch</span></li>
    <li class="line-b p10">creemej<span class="right text-gray size-12" >Dutch</span></li>
    <li class="line-b p10">sjamayee<span class="right text-gray size-12" >Dutch</span></li>
    <li class="line-b p10">Nickardo<span class="right text-gray size-12" >Dutch</span></li>
    <li class="line-b p10">pmiklos<span class="right text-gray size-12" >Hungarian</span></li>
    <li class="line-b p10">portabella<span class="right text-gray size-12" >Swedish</span></li>
    <li class="line-b p10">yhlim0319<span class="right text-gray size-12" >Korean</span></li>
    <li class="line-b p10">Maxwell<span class="right text-gray size-12" >Chinese</span></li>
    <li class="line-b p10">dindinw<span class="right text-gray size-12" >Chinese</span></li>
    <li class="line-b p10">chenyaojun<span class="right text-gray size-12" >Chinese</span></li>
  </ul>
  <div class="row m20t">
    <div class="columns text-center">
      <p class="size-12 text-black">
        <span translate>All contributions to Byteball's translation are welcome. Sign up at crowdin.com and join the Byteball project at</span> 
        <a href ng-click="$root.openExternalLink('https://crowdin.com/project/byteball')">https://crowdin.com/project/byteball</a>.
      </p>
      <span class="size-12 text-gray" translate>
        Don't see your language on Crowdin? Contact the Owner on Crowdin! We'd love to support your language.
      </span>
    </div>
  </div>
  <div class="extra-margin-bottom"></div>
</div>
