<style>
#binding-drop {
    max-width: 250px;
    left: 15px;
    width: auto !important;
    text-align: left;
    /*line-height: 1em;*/
}
input.datafeed_input {
	width: 40%;
	display: inline-block;
}
#send .mtab-title, .modal-content .mtab-title {
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}
#send .mtab-title.active, .modal-content .mtab-title.active {
	color: #34495E;
}
.hor-link {
	max-width: 45%;
	display: inline-block;
	padding: 0 30px;
	line-height: 1em;
}
.hor-link:nth-child(2) {
	border-left: 1px solid #E9E9EC;
}
</style>


<div class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="showCamera = true">
</div>

<div ng-controller="walletHomeController as home">
  <div class="row columns m20tp" ng-show="index.noFocusedWallet">
    <div class="text-center text-warning m20b">
      <i class="fi-alert"></i> <span translate>You do not have a wallet</span>
    </div>
    <button class="button black round expand" ng-click="$root.go('add')" translate>Create</button>

    <div class="text-center text-gray p20v" ng-click="$root.go('preferences')">
      <button class=" outline round dark-gray tiny" translate> Preferences </button>
    </div>
  </div>

  <div class="onGoingProcess" ng-show="index.isOffline">
    <div class="onGoingProcess-content" ng-style="{'background-color':'#222'}">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <span translate>Reconnecting to Wallet Service...</span>
    </div>
  </div>

  <div class="onGoingProcess" ng-show="index.anyOnGoingProcess && !index.isOffline">
    <div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <span translate ng-show="
        index.onGoingProcessName == 'openingWallet'
        || index.onGoingProcessName == 'updatingStatus'
        || index.onGoingProcessName == 'updatingBalance'
        || index.onGoingProcessName == 'updatingPendingTxps'
        "> Updating Wallet... </span>
      <span translate ng-show="index.onGoingProcessName == 'scanning'">Scanning Wallet funds...</span>
      <span translate ng-show="index.onGoingProcessName == 'recreating'">Recreating Wallet...</span>
      <span translate ng-show="index.onGoingProcessName == 'generatingCSV'">Generating .csv file...</span>
      <span translate ng-show="index.onGoingProcessName == 'Syncing'">Syncing... {{index.syncProgress}}</span>
      <span translate ng-show="index.onGoingProcessName == 'handling_private'">Syncing... {{index.count_unhandled_private_payments}} private payments left</span>
      <span translate ng-show="index.onGoingProcessName == 'sending'">Sending...</span>
      <span translate ng-show="index.onGoingProcessName == 'claiming'">Claiming...</span>
    </div>
  </div>

  <div class="onGoingProcess" ng-show="home.onGoingProcess && !index.anyOnGoingProces && !index.isOffline">
    <div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      {{home.onGoingProcess|translate}}...
    </div>
  </div>

  <div class="oh" ng-show="!index.noFocusedWallet">

    <!--

    WalletHome

    -->

    <div id="walletHome" class="walletHome tab-view tab-in">
	  <div style="position:absolute; width: 100%; left: 0px; top: 15px; text-align: center; color: white; z-index: 1" ng-if="home.isTestnet">{{home.testnetName}}</div>
      <div class="oh">
        <div class="amount" ng-style="{'background-color':index.backgroundColor}" ng-swipe-right="index.suspendSwipe()">
          <div ng-if="!index.anyOnGoingProcess || 1" style="position: relative;">
            <div ng-show="index.updateError" ng-click='index.openWallet(); index.updateTxHistory()'>
              <span class="size-12 db m10b">{{index.updateError|translate}}</span>
              <button class="outline white tiny round" translate>Tap to retry</button>
            </div>

            <div ng-show="index.walletScanStatus == 'error'" ng-click='index.retryScan()'>
              <span translate>Scan status finished with error</span>
              <br><span translate>Tap to retry</span>
            </div>

            <ul rn-carousel rn-carousel-transition="hexagon" rn-carousel-index="index.assetIndex" rn-carousel-controls>
                <li ng-click='index.onClick()' ng-show="!index.updateError && index.walletScanStatus != 'error'" ng-repeat="balance in index.arrBalances">
					<div ng-click='index.updateAll(); index.updateHistoryFromNetwork()'>
						<strong class="size-36" ng-if="balance.totalStr && balance.totalStr.length <= 16">{{balance.totalStr}}</strong>
						<div ng-if="balance.totalStr && balance.totalStr.length > 16">
							<div><strong class="size-36">{{balance.totalStrWithoutUnit}}</strong></div>
							<div class="of-asset-name">{{balance.name}}</div>
						</div>
						<div ng-if="!balance.totalStr">
							<div><strong class="size-36">{{balance.total.toLocaleString()}}</strong></div>
							<div class="of-asset">of {{balance.asset}}</div>
						</div>
						<div class="size-14 secondrow" ng-if="balance.pending">
							<span translate>Including pending confirmation</span>:
							<span ng-if="balance.pendingStr">{{balance.pendingStr}}</span>
							<span ng-if="!balance.pendingStr">{{balance.pending.toLocaleString()}}</span>
						</div>
						<div class="size-14 secondrow" ng-if="!balance.pending && balance.asset === 'base' && home.exchangeRates.GBYTE_USD && balance.total">
							<span>≈ ${{ (balance.total * home.exchangeRates.GBYTE_USD / 1e9).toLocaleString([], {maximumFractionDigits: 2}) }}</span>
						</div>
						<div class="size-14 secondrow" ng-if="!balance.pending && balance.asset === index.BLACKBYTES_ASSET && home.exchangeRates.GBB_USD && balance.total">
							<span>≈ ${{ (balance.total * home.exchangeRates.GBB_USD / 1e9).toLocaleString([], {maximumFractionDigits: 2}) }}</span>
						</div>
					</div>
          <style ng-if="index.isCordova">
            .rn-carousel-controls {
              display: none !important;
            }
          </style>
          <style>
          	.rn-carousel-control.rn-carousel-control-next, .rn-carousel-control.rn-carousel-control-prev {
            	background-color: {{index.backgroundColor}};
            }
			.secondrow {
				margin-top: -7px;
				margin-bottom: 10px;
			}
          </style>
                    <div class="size-14" ng-if="balance.shared">
						<a ng-click="index.openSubwalletModal()">
							<span translate>Also</span>
							<span ng-if="balance.sharedStr">{{balance.sharedStr}}</span>
							<span ng-if="!balance.sharedStr">{{balance.shared.toLocaleString()}}</span>
							<span translate>in smart wallets</span>
						</a>
                    </div>
                </li>
            </ul>
            <div rn-carousel-indicators ng-if="index.arrBalances.length > 1" slides="index.arrBalances" rn-carousel-index="index.assetIndex"></div>
          </div>

          <div ng-if="index.anyOnGoingProcess && 0">
            <div class="size-36">
              <strong>...</strong>
            </div>
          </div>
        </div> <!-- amount -->

        <div class="pr columns line-b">
          <div class="avatar-wallet left"
            ng-style="{'background-color':index.backgroundColor}">{{ (index.alias || index.walletName) | limitTo: 1}}
          </div>
          <div class="right">
            <a ng-click="$root.go('preferences')" class="button outline round light-gray tiny preferences-icon m0" ng-if="!index.shared_address">
              <i class="fi-widget size-18 vm wallet-settings"></i>
              <span class="show-for-medium-up" translate>Preferences</span>
            </a>
            <a ng-click="openSharedAddressDefinitionModal(index.shared_address)" class="button outline round light-gray tiny preferences-icon m0" ng-if="index.shared_address">
              <i class="fi-eye size-24 vm wallet-settings"></i>
              <span class="show-for-medium-up" translate>Definition</span>
            </a>
          </div>
          <div class="wallet-info">
              <p class="m0">
              {{(index.alias || index.walletName)}}<span ng-if="index.shared_address" style="overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><br>Smart wallet: {{index.shared_address | limitTo: 6}}...</span>
              </p>
              <div class="size-12 text-gray" ng-if="!index.shared_address">
                <span ng-include="'views/includes/walletInfo.html'"></span>
              </div>
          </div>
        </div>
      </div> <!-- oh -->



      <div ng-if="index.txps[0]">
        <h4 ng-show="index.requiresMultipleSignatures" class="title m0" translate>Payment Proposals</h4>
        <h4 ng-show="!index.requiresMultipleSignatures" class="title m0" translate>Unsent transactions</h4>
        <div class="last-transactions pr" ng-repeat="tx in index.txps"
          ng-include="index.txTemplateUrl">
        </div>

        <div class="text-gray text-center size-12 p10t"
          ng-show="index.lockedBalanceBytes && !index.updatingStatus">
          <span translate>Total Locked Balance</span>:
          <b>{{index.lockedBalanceStr}} </b>
        </div>
      </div>
      <div class="extra-margin-bottom"></div>
    </div> <!-- END WalletHome -->

    <!--

    receive

    -->
    <div id="receive" class="receive tab-view" style="padding-bottom: 0px">

      <div ng-show="index.needsBackup" class="p60t row text-center">
        <div class="large-12 columns">
          <div class="text-warning text-bold m15b">
            <i class="fi-alert"></i>
            <span translate>
              WARNING: Backup needed
            </span>
          </div>
          <div class="text-gray" translate>
            Before receiving funds, it is highly recommended you backup your wallet keys.
          </div>

          <button class="m20t button black expand round"
            ng-click="$root.go('preferencesGlobal.backup')" ng-style="{'background-color':index.backgroundColor}" >
            <span translate>Backup now</span>
          </button>
        </div>
      </div>
      <div ng-show="!index.needsBackup">
        <div class="row">
          <!-- Address-->
          <div class="large-12 columns">
            <h2 class="text-center m10t" translate>My Byteball address</h2>
            <div>
              <div class="box-notification" ng-show="home.addrError">
                <span class="text-warning">
                  {{home.addrError|translate}}
                </span>
              </div>

              <div class="text-center" ng-click="home.copyAddress(index.shared_address || home.addr[index.walletId])" ng-show="home.addr[index.walletId] || home.generatingAddress">
                <qrcode size="220" data="{{home.protocol}}:{{index.shared_address || home.addr[index.walletId]}}"></qrcode>
                <div  ng-show="home.generatingAddress" style="position:relative; top:-226px; height:0px">
                  <div style="height:220px; width:220px; margin:auto; background: url(img/qr.png) white">
                    <div class="spinner" style="margin-top:80px">
                      <div class="rect1"></div>
                      <div class="rect2"></div>
                      <div class="rect3"></div>
                      <div class="rect4"></div>
                      <div class="rect5"></div>
                    </div>
                  </div>
                </div>
                <div class="m10t" >
                  <h4 ng-class="{'enable_text_select': !index.isCordova}" class="size-12">
                    {{index.shared_address || (home.generatingAddress ? '...' : home.addr[index.walletId])}}

                  </h4>
                </div>
              </div>
            </div>

            <div ng-show="home.addr[index.walletId]">
              <div class="m10t text-center" ng-show="index.isCordova">
                <span class="button outline dark-gray tiny round"
                  ng-click="home.shareAddress(home.addr[index.walletId])">
                  <i class="fi-share"></i>
                  <span translate>Share address</span>
                </span>
              </div>
              <div class="line-t size-12 text-center">
				<span ng-if="index.shared_address" translate>This address is shared with {{index.shared_address_cosigners}}.</span>
				<span ng-if="!index.shared_address" translate>Share this wallet address to receive payments.</span>
				<span ng-if="!index.shared_address && 0" translate>To protect your privacy, new addresses are generated automatically once you use them.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row m20t" ng-if="!index.shared_address && !index.isSingleAddress">
          <div class="large-12 columns">
            <button class="button black expand round m0" ng-click="home.setAddress(true)"
              ng-style="{'background-color':index.backgroundColor}" ng-disabled="home.blockUx || index.isOffline ||home.generatingAddress" translate>
              Generate new address
            </button>
          </div>
        </div>
        <div class="m20t text-center m30b">
	        <div class="text-center hor-link" ng-show="!home.generatingAddress && home.addr[index.walletId]" ng-style="{'max-width' : (index.shared_address ? '100%' : '45%')}">
	          <a class="size-14" ng-click="home.openCustomizedAmountModal(index.shared_address || home.addr[index.walletId])" ng-style="{'color':index.backgroundColor}">
	            <span translate>Request a specific amount</span>
	          </a>
	        </div>
	        <div class="text-center hor-link" ng-show="!home.generatingAddress && home.addr[index.walletId]" ng-if="!index.shared_address">
	          <a class="size-14" ng-click="home.openClaimTextcoinModal(home.addr[index.walletId])" ng-style="{'color':index.backgroundColor}">
	            <span translate>Claim funds using textcoin</span>
	          </a>
	        </div>
	    </div>
      </div>
    </div> <!-- END Receive -->


    <!--

    send

    -->
    <div id="send" class="send tab-view" ng-init="assetIndexSelectorValue=0;home.shownForm='payment'">
      <div>
        <h4 class="title m0">

          <a class="right lh"
            ng-if="index.availableBalanceBytes > 0 && !home.blockUx && !home.lockAmount"
            ng-click="home.sendAll(index.availableMaxBalance, 0)"
             translate> Send All
          </a>

          <!--available-balance></available-balance-->
            <div class="size-10">
                <span class="db text-bold">
                    <span translate>What to send</span>:
                </span>
                <select class="m10t" ng-model="assetIndexSelectorValue" ng-disabled="home.blockUx || home.lockAsset" ng-change="home.switchForms()">
                	<option ng-repeat="balance in index.arrBalances" ng-value="index.arrBalances.indexOf(balance)">{{(balance.asset === 'base' ? 'Bytes' : (balance.asset == index.BLACKBYTES_ASSET ? 'Blackbytes' : (balance.name || balance.asset))) + ' (' + (balance.stableStr ? balance.stableStr : (balance.stable.toLocaleString())) + (balance.pending ? ' ' + ('confirmed' | translate) : ' ' + ('available' | translate) ) + ')'}}</option>
                	<option ng-value="-1" translate>Data into datafeed</option>
                	<option ng-value="-2" translate>Attestation</option>
                	<option ng-value="-3" translate>Profile</option>
                	<option ng-value="-4" translate>Data</option>
                </select>
            </div>
        </h4>
      </div>
      <div class="row m20t" ng-show="home.shownForm=='payment'">
        <div class="large-12 large-centered columns">
          <form name="sendPaymentForm" ng-submit="home.submitPayment()" ng-disabled="home.blockUx || home.onGoingProcess" novalidate>
            <div class="box-notification" ng-show="home.error" ng-click="home.resetError()">
              <span class="text-warning">
                {{home.error|translate}}
              </span> 
              <a class="close-notification text-warning">&#215;</a>
            </div>
			  
            <div class="row"  ng-hide="home.hideAmount">
              <div class="large-12 medium-12 columns">
                <div class="right" ng-hide="sendPaymentForm.amount.$pristine && !sendPaymentForm.amount.$modelValue ">
                  <span class="has-error right size-12" ng-if="sendPaymentForm.amount.$invalid">
                    <i class="icon-close-circle size-14"></i>
                    <span clas="vm" translate>Not valid</span>
                  </span>
                  <small class="text-primary right" ng-if="!sendPaymentForm.amount.$invalid">
                    <i class="icon-checkmark-circle size-14"></i>
                  </small>
                </div>
                <div>
                  <label for="amount">
                    <span translate ng-if="!home.send_multiple">Amount</span>
                    <span translate ng-if="home.send_multiple">Total amount</span>
					<a ng-click="home.setSendAll()" ng-show="!home.bSendAll && !home.lockAmount" style="text-transform: none; margin-left: 10px" translate>Send all</a>
                  </label>
                  <div class="input">
                    <input type="number" id="amount" ng-disabled="home.blockUx || home.lockAmount || home.bSendAll" name="amount" ng-attr-placeholder="{{(home.bSendAll ? (index.arrBalances[index.assetIndex].asset === 'base' ? 'All minus fees' : 'All') : 'Amount')|translate}}" ng-minlength="0.00000001" ng-maxlength="10000000000" ng-model="_amount" valid-amount="{{index.arrBalances[index.assetIndex].asset}}" ng-required="!home.bSendAll && !home.send_multiple" autocomplete="off" ng-focus="home.formFocus('amount')" ng-blur="home.formFocus(false)">
                      <a class="postfix" ng-if="index.arrBalances.length > 0 && index.arrBalances[index.assetIndex].asset === 'base'">{{home.unitName}}</a>
                      <a class="postfix" ng-if="index.arrBalances.length > 0 && index.arrBalances[index.assetIndex].asset === index.BLACKBYTES_ASSET">{{home.bbUnitName}}</a>
                      <a class="postfix" ng-if="index.arrBalances.length > 0 && index.arrBalances[index.assetIndex].name">{{index.arrBalances[index.assetIndex].name | limitTo:16}}{{index.arrBalances[index.assetIndex].name.length>16 ? '...' : ''}}</a>
                      <a class="postfix" ng-if="index.arrBalances.length > 0 && index.arrBalances[index.assetIndex].asset !== 'base' && index.arrBalances[index.assetIndex].asset !== index.BLACKBYTES_ASSET && !index.arrBalances[index.assetIndex].name">of {{index.arrBalances[index.assetIndex].asset.substr(0,4)}}</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="mtabset" ng-show="index.arrBalances.length > 0 && !home.lockAddress">
		    	<div class="mtab-title active" ng-click="mtab = 1" ng-class="{'active': mtab == 1}" translate>{{index.arrBalances[index.assetIndex].is_private ? 'To my other wallet' : 'To byteball address or email or username'}}</div>
		    	<div class="mtab-title" ng-click="mtab = !home.send_multiple ? 2 : mtab; _address = !home.send_multiple ? null : _address" ng-class="{'active': mtab == 2, 'disabled': home.send_multiple}" translate>Share via message</div>
		    </div>

		    <div class="mtab" ng-class="{'active': mtab == 1}" ng-init="mtab = 1; home.send_multiple = false;">
	            <div ng-hide="home.hideAddress">
	              <div class="row collapse" style="padding-top: 5px;min-height: 24px;">
	              	<label for="address" class="left" ng-if="home.lockAddress">
	                  <span translate>To byteball address</span>
	                </label>
	                <span ng-if="!home.send_multiple">
	                  <span class="has-error right size-12" ng-show="sendPaymentForm.address.$invalid && _address">
	                    <i class="icon-close-circle size-14"></i>
	                    <span class="vm" translate>Not valid</span>
	                  </span>
	                  <small class="right text-primary" ng-show="!sendPaymentForm.address.$invalid && _address">
	                    <i class="icon-checkmark-circle size-14"></i>
	                  </small>
	                </span>
	                <span ng-if="home.send_multiple">
	                  <span class="has-error right size-12" ng-show="sendPaymentForm.addresses.$invalid && !sendPaymentForm.addresses.$pristine">
	                    <i class="icon-close-circle size-14"></i>
	                    <span class="vm" translate>Not valid</span>
	                    <span class="vm">{{(sendPaymentForm.addresses.$error | objectKeys)[0].indexOf('line-') > -1 ? (sendPaymentForm.addresses.$error | objectKeys)[0].replace('line-', '') : ''}}</span>
	                  </span>
	                  <small class="right text-primary" ng-show="!sendPaymentForm.addresses.$invalid">
	                    <i class="icon-checkmark-circle size-14"></i>
	                  </small>
	                </span>
	            </div>

	              <div class="input">
	                <input ng-if="!home.send_multiple" class="m0" type="text" id="address" name="address" ng-disabled="home.blockUx || home.lockAddress || index.arrBalances[index.assetIndex].is_private" ng-attr-placeholder="{{home.canSendExternalPayment() ? 'Byteball address or email' : 'Byteball address of your other wallet &#8594;'}}" ng-model="_address" ng-required valid-address-or-account ng-focus="home.formFocus('address')" ng-blur="home.formFocus(false)">
	                <!--<input ng-if="!home.send_multiple && index.arrBalances[index.assetIndex].is_private" class="m0" type="text" id="address" name="address" ng-disabled="home.blockUx || home.lockAddress || !home.canSendExternalPayment()" ng-attr-placeholder="{{home.canSendExternalPayment() ? 'Byteball address' : 'Byteball address of your other wallet &#8594;'}}" ng-model="_address" ng-required valid-address ng-focus="home.formFocus('address')" ng-blur="home.formFocus(false)">-->
	                <textarea ng-if="home.send_multiple" class="m0" type="text" name="addresses" placeholder="Byteball address, amount {{index.arrBalances[index.assetIndex].asset === 'base' ? 'in ' + home.unitName : 'of ' + (index.arrBalances[index.assetIndex].name || index.arrBalances[index.assetIndex].asset.substr(0,4) | limitTo:16)}}&#10;M7G2CZDBV7FWH2QMWUNXQ4MSLIZPHX3U, {{100000 / home.unitValue}}&#10;5OJ2RQ3AG7RLS6HFDAKOZGBZE6HKUWAZ, {{5000000 / home.unitValue}}&#10;not more than 120 rows" ng-model="_addresses" required valid-addresses="{{index.arrBalances[index.assetIndex].asset}}" style="margin-bottom: 25px" rows="4" msd-elastic="\n" ng-change="_amount=+(_addresses | sumNumbers).toLocaleString(['EN-US'], {maximumFractionDigits: index.arrBalances[index.assetIndex].decimals}).split(',').join('')"></textarea>

	                <!--<div class="addressbook-input" ng-show="!sendPaymentForm.address.$invalid && _address">
	                  {{index.addressbook[_address] || _address}}
	                </div>-->
	                <a class="postfix size-12 m0 text-gray" ng-hide="home.blockUx || home.lockAddress || home.send_multiple" ng-click="openDestinationAddressModal(index.otherWallets, _address)">
	                  <i class="icon-wallet size-18" style="margin-right: -3px;vertical-align: baseline;"></i>
	                </a>
	              </div>
				  <div ng-if="home.deviceAddressIsKnown()" style="font-size: 11px; font-weight: bold; margin-top: -1.5rem; margin-bottom: 1.5rem;">
					  <a ng-click="home.openBindModal()">
						  <span ng-if="!home.binding" translate>Bind the payment to a condition</span>
						  <span ng-if="home.binding" translate>This payment is bound to a condition</span>
					  </a>
				  </div>
				  <div ng-if="!index.arrBalances[index.assetIndex].is_private && !home.blockUx && !home.lockAddress && home.canSendExternalPayment()" style="font-size: 11px; font-weight: bold; margin-top: -1.5rem; margin-bottom: 1.5rem; float: right;">
					  <a ng-click="home.lockAmount = home.send_multiple = !home.send_multiple" class="text-gray" style="border-bottom: 1px dashed grey;">
						  <span ng-if="home.send_multiple" translate>switch to single address</span>
						  <span ng-if="!home.send_multiple" translate ng-click="home.resetForm(sendPaymentForm)">switch to multi-address</span>
					  </a>
				  </div>
				  <div id="binding-drop" class="f-dropdown" data-dropdown-content style="padding: 10px;" translate>To bind the payment to a condition, please click the peer's address in chat</div>  
				  <div ng-if="!home.deviceAddressIsKnown()" style="font-size: 11px; font-weight: bold; margin-top: -1.5rem; margin-bottom: 1.5rem">
					  <a dropdown-toggle="#binding-drop" data-options="align:top">
						  <span translate class="text-gray">Bind the payment to a condition</span>
					  </a>
				  </div>
	            </div>

	            <div class="row" ng-show="index.bHasMerkle">
	              <div class="large-12 columns">
	                <label for="merkle_proof"><span translate>Merkle proof</span>
	                  <small translate ng-hide="!sendPaymentForm.merkle_proof.$pristine">optional</small>
	                  <small translate class="has-error" ng-show="sendPaymentForm.merkle_proof.$invalid && !sendPaymentForm.merkle_proof.$pristine">too long!</small>
	                </label>
	                <div class="input">
	                  <textarea id="merkle_proof" ng-disabled="home.blockUx" name="merkle_proof" maxlength="4096" ng-model="_merkle_proof"></textarea>
	                </div>
	              </div>
            	</div>
	            <div class="row" ng-hide="home.hideNote">
	              <div class="large-12 columns">
	                <label for="comment"><span translate>Note</span>
	                  <small translate ng-hide="!sendPaymentForm.comment.$pristine">optional</small>
	                  <small translate class="has-error" ng-show="sendPaymentForm.comment.$invalid && !sendPaymentForm.comment.$pristine">too long!</small>
	                </label>
	                <div class="input">
	                  <textarea id="comment" ng-disabled="home.blockUx" name="comment"
	                    ng-maxlength="500" ng-model="_comment" ng-focus="home.formFocus('msg')"
	                    ng-blur="home.formFocus(false)"></textarea>
	                </div>
	              </div>
	            </div>

	            <div class="" ng-show="index.m < index.n && index.m > 1">
	                <div class="large-12 medium-12">
	                    <label>
	                        <span translate>Who signs:</span>
	                    </label>
	        			<cosigners></cosigners>
            		</div>
	            </div>

	            <div class="row" ng-show="!home.onGoingProcess">
	              <div class="large-6 medium-6 small-6 columns" ng-show="!home.blockUx && !home.send_multiple && (home.lockAddress || home.lockAmount || home.bSendAll)">
	                <a ng-click="home.resetForm(sendPaymentForm)" class="button expand outline dark-gray round" translate>Cancel</a>
	              </div>
	              <div class="columns" ng-class="{'small-6 medium-6 large-6':!home.send_multiple && (home.lockAddress || home.lockAmount || home.bSendAll)}">
	                <button type="submit" ng-if="mtab == 1" class="button black round expand" ng-disabled="home.current_payment_key || sendPaymentForm.$invalid || home.blockUx || index.isOffline || !index.isEnoughSignersSelected()"
	                  ng-style="{'background-color':index.backgroundColor}"  translate>
	                  Send
	                </button>
	              </div>
	            </div>
        	</div>

        	<div class="mtab" ng-class="{'active': mtab == 2}">
        		<br>
        		<div class="" ng-show="index.m < index.n && index.m > 1">
	                <div class="large-12 medium-12">
	                    <label>
	                        <span translate>Who signs:</span>
	                    </label>
	        			<cosigners></cosigners>
            		</div>
	            </div>
	            <p translate ng-show="!index.arrBalances[index.assetIndex].is_private">Click this button to create payment and share it via private message in chat apps or to create a paper wallet.</p>
	            <p translate ng-show="index.arrBalances[index.assetIndex].is_private">Click this button to create a payment file and send it to a recipient.</p>
        		<button type="submit" class="button black round expand" ng-disabled="home.current_payment_key || home.blockUx || index.isOffline || !index.isEnoughSignersSelected() || sendPaymentForm.amount.$invalid" translate ng-style="{'background-color':index.backgroundColor}">Share via message</button>
        	</div>
          </form>
        </div>
      </div>
      <div ng-show="home.shownForm=='data' && index.isSingleAddress">
      	<div class="large-12 large-centered columns">
          <form name="sendDataForm" ng-submit="home.submitData()" ng-disabled="home.blockUx || home.onGoingProcess" novalidate ng-init="home.feedvaluespairs=[{}]">
            <div class="box-notification" ng-show="home.error" ng-click="home.resetError()">
              <span class="text-warning">
                {{home.error|translate}}
              </span>
              <a class="close-notification text-warning">&#215;</a>
            </div>

				<div class="row m20t text-gray size-12" ng-show="assetIndexSelectorValue == -1" translate>
					Post values into datafeeds manually, be an oracle.
				</div>
				<div class="row m20t text-gray size-12" ng-show="assetIndexSelectorValue == -2" translate>
					Attest profile data linked to any Byteball address.
				</div>
				<div class="row m20t text-gray size-12" ng-show="assetIndexSelectorValue == -3" translate>
					Post your profile data, anything you want to say about yourself.
				</div>
				<div class="row m20t text-gray size-12" ng-show="assetIndexSelectorValue == -4" translate>
					Post arbitrary key-value pairs of data into Byteball network.
				</div>
				<div class="row m20t" ng-if="assetIndexSelectorValue == -2">
					<label style="float: left;">
						<span translate>Address to attest</span>
					</label>
					<span ng-hide="sendDataForm.address.$pristine">
                  <span class="has-error right size-12" ng-show="sendDataForm.address.$invalid && home.attested_address">
                    <i class="icon-close-circle size-14"></i>
                    <span class="vm" translate>Not valid</span>
                  </span>
                  <small class="right text-primary" ng-show="!sendDataForm.address.$invalid">
                    <i class="icon-checkmark-circle size-14"></i>
                  </small>
                </span>
					<input type="text" name="address" ng-model="home.attested_address" placeholder="Byteball address" valid-address ng-required="true">
				</div>
				<div class="row m20t">
					<label>
						<span translate>Values</span>
					</label>
					<span ng-repeat="pair in home.feedvaluespairs">
						<input type="text" ng-model="pair.name" placeholder="{{([-2, -3].includes(assetIndexSelectorValue) ? 'Profile field' : (assetIndexSelectorValue == -4 ? 'Field' : 'Datafeed name'))|translate}}" class="datafeed_input" ng-required="true" ng-maxlength="64" maxlength="64">
						<input type="text" ng-model="pair.value" placeholder="{{([-2, -3].includes(assetIndexSelectorValue) ? 'Profile field value' : (assetIndexSelectorValue == -4 ? 'Value' : 'Datafeed value'))|translate}}" class="datafeed_input" ng-required="true" ng-maxlength="64" maxlength="64">
						<a ng-show="$last && !$first" ng-click="home.feedvaluespairs.splice(home.feedvaluespairs.length-1)"><i class="fi-minus size-18 m10r" style="vertical-align: middle;"></i></a>
					</span>
					<i data-trans="{{'Field' | translate}}" data-trans="{{'Profile field' | translate}}" data-trans="{{'Datafeed name' | translate}}" data-trans="{{'Profile field value' | translate}}" data-trans="{{'Value' | translate}}" data-trans="{{'Datafeed value' | translate}}" data-trans="{{'confirmed' | translate}}" data-trans="{{'available' | translate}}" ></i>
					<div class="clear"></div>
					<a ng-click="home.feedvaluespairs.push({})" style="padding:10px 0;" ng-show="home.feedvaluespairs.length < 20">
						<i class="fi-plus size-18 m10r" style="vertical-align: middle;"></i> 
						<span class="text-close size-12" translate>Add fields</span> 
					</a>
				</div>

            <div class="" ng-show="index.m < index.n && index.m > 1">
                <div class="large-12 medium-12">
                    <label>
                        <span translate>Who signs:</span>
                    </label>
            			<cosigners></cosigners>
            		</div>
            </div>

            <div class="row m20t" ng-show="!home.onGoingProcess">
              <div class="columns">
                <button type="submit" class="button black round expand" ng-disabled="sendDataForm.$invalid || home.blockUx || index.isOffline || !index.isEnoughSignersSelected()"
                  ng-style="{'background-color':index.backgroundColor}"  translate>
                  Send
                </button>
              </div>

            </div>
          </form>
        </div>
      </div>
      <div ng-show="home.shownForm=='data' && !index.isSingleAddress">
      	<div class="large-12 large-centered columns" style="padding-top: 10px" translate>
      		To be able to send arbitrary data into Byteball network, please switch to a single-address wallet first or create one.
      	</div>
      </div>
      <!--div class="row columns m20t" ng-hide="home.canSendPayment()">
		  This is a private asset, please send it only by clicking links in the chat.
      </div-->
    </div> <!-- END Send -->

    <!--

    history

    -->
    <div id="history" class="history tab-view">
      <div ng-show="index.arrBalances.length > 1">
        <h4 class="title m0" style="padding:0 10px;">
            <select class="m10t" ng-model="index.assetIndex" ng-options="index.arrBalances.indexOf(balance) as (balance.totalStr ? balance.totalStr : balance.total.toLocaleString() + ' of ' + balance.asset) for balance in index.arrBalances" ng-disabled="home.blockUx || home.lockAsset" ng-change="index.updateHistory()"></select>
        </h4>
      </div>
      <div class="row m20t" ng-show="!index.txHistory[0] && !index.updatingTxHistory[index.walletId]">
        <div class="large-12 columns">
          <div class="oh text-center">
            <span ng-show="index.txHistoryError" ng-click='index.updateTxHistory()'>
              <p class="size-12 m10b db text-gray" translate>Could not fetch transaction history</p>
              <button class="outline round light-gray tiny" translate>Tap to retry</button>
            </span>
            <span ng-if="!index.txHistoryError" translate>
              No transactions yet
            </span>
          </div>
        </div>
      </div>
      <div class="row m20t text-center" ng-show="index.updatingTxHistory[index.walletId]">
        <div class="columns large-12 medium-12 small-12">
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
        <div ng-show="index.txProgress > 6" translate class="size-12 text-gray m20t">
          Initial transaction history synchronization can take some minutes for wallets with many transactions.<br/>
          Please stand by.
        </div>
        <div ng-show="index.txProgress > 6" class="size-14 text-gray m20t">
          <b>{{index.txProgress}}</b> 
          <span translate>Transactions<br> Downloaded</span>
        </div>
      </div>

      <div ng-show="index.txHistory[0]">
        <div ng-repeat="btx in index.txHistory"
          ng-click="home.openTxModal(btx)"
          class="row collapse last-transactions-content">
          <div class="large-3 medium-3 small-3 columns">
            <span class="label tu radius" ng-show="btx.action == 'received'"
              ng-style="{'background-color':index.backgroundColor}" translate>Received</span>
            <span class="label tu gray radius" ng-show="btx.action == 'sent'" translate>Sent</span>
            <span class="label tu light-gray radius" ng-show="btx.action == 'moved'" translate>Moved</span>
            <span class="label tu warning radius" ng-show="btx.action == 'invalid'" translate>Invalid</span>
          </div>

          <div class="large-4 medium-4 small-4 columns">
            <span class="size-16">
              <span ng-if="btx.action == 'received'">+</span>
              <span ng-if="btx.action == 'sent'">-</span>
              <span  class="size-12" ng-if="btx.action == 'invalid'" translate>
              (possible double spend)
              </span>
              <span  ng-if="btx.action != 'invalid'">
              {{btx.amountStr}}
              </span>
            </span>
          </div>
          <div class="large-4 medium-4 small-4 columns text-right">
            <div class="m5t size-12 text-gray">
              <time ng-if="btx.time">{{btx.time * 1000 | amTimeAgo}}</time>
              <span translate class="text-warning"
                ng-show="!btx.time && (!btx.confirmations || btx.confirmations == 0)">
                Unconfirmed
              </span>
            </div>
          </div>
          <div class="large-1 medium-1 small-1 columns text-right">
            <i class="icon-arrow-right3 size-18"></i>
          </div>
          <div class="size-14 text-gray columns m5t" ng-if="btx.message || btx.addressTo">
            <div ng-show="btx.message"><span translate>Note</span>: {{btx.message}}</div>
            <div ng-show="!btx.message">
              <span translate>To</span>: {{index.addressbook[btx.addressTo] || btx.addressTo}} 
            </div>
            <span ng-show="btx.textAddress || btx.original_address" class="small-10">
              <span>{{index.getToAddressLabel(btx.textAddress || btx.original_address)}}</span>: {{index.getAddressValue(btx.textAddress || btx.original_address)}}
            </span>
            <span ng-show="btx.isTextcoin" class="small-2 right">
              <span class="label tu light-gray radius">textcoin</span>
            </span>
          </div>
        </div>

        <div class="row m20t text-center" ng-show="index.historyRendering">
          <div class="columns large-12 medium-12 small-12">
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
          </div>
        </div>
  
        <div class="row m20t">
          <div class="large-6 medium-6 small-6 columns">
            <button type="submit" class="button black round expand" ng-show="index.historyShowShowAll" ng-click="index.showAllHistory()" ng-style="{'background-color':index.backgroundColor}"  translate>
              Show all
            </button>
          </div>
          <div class="large-6 medium-6 small-6 columns" ng-show="!index.isCordova">
            <input id="export_file" type="file" nwsaveas="Byteball-{{index.alias || index.walletName}}.csv" accept=".csv" style="display:none">
            <a class="button outline dark-gray round" ng-click="index.csvHistory();">
              <i class="fi-page-export-csv"></i>
              <span translate>Download CSV file</span>
            </a>
          </div>
        </div>
      </div>
      <div class="extra-margin-bottom"></div>
    </div> <!-- END History -->

    <div id="{{view.id}}" class="{{view.class}} tab-view" ng-repeat="view in index.addonViews" ng-include="view.template">
    </div>

  </div>
</div>
<div class="extra-margin-bottom"></div>
<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>
