<div class="m20tp p20h text-center">

<div class="row columns">
	<a ng-click="close()" translate>Close</a>
</div>

<div class="row columns">
  	<span class="text">{{text | translate}}</span>
</div>

<div class="row columns">
	<div class="small-6 columns">
  		TTL: <span class="text">{{ttl}}</span>
  	</div>
  	<div class="small-6 columns">
  		Peer address: <span class="text">{{peer_address}}</span>
  	</div>
</div>

<div class="row columns">
  	<span class="text">{{status | translate}}</span>
</div>


<div class="row columns large-12 medium-12" ng-if="isIncoming && index.m < index.n && index.m > 1">
	<cosigners></cosigners>
</div>

<div class="row">
	<div class="large-6 medium-6 small-6 columns">
		<button class="button expand round" ng-disabled="status !== 'active' || !isIncoming || !index.isEnoughSignersSelected()" ng-class="yes_button_class" ng-click="accept()">
			<i ng-class="yes_icon"></i> <span>{{(confirm_label || 'Accept')|translate}}</span>
		</button>
	</div>

	<div class="large-6 medium-6 small-6 columns">
		<button class="button expand round" ng-disabled="status !== 'active' || !isIncoming || !index.isEnoughSignersSelected()" ng-class="cancel_button_class" ng-click="decline()">
			<i class="fi-x"></i> <span class="tu">{{(cancel_label || 'Decline')|translate}}</span>
		</button>
	</div> 
</div>
</div>
