<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="later()" class="p10">
      <span class="text-close" translate>Close</span>
    </a>
  </section>
</nav>
<div class="modal-content fix-modals-touch">
<h1 class="text-center" translate>New witnesses</h1>
<div class="row">
	<div class="columns" translate>
		The hub suggests replacing the following witnesses:
	</div>
	<ul class="no-bullet m0 columns">
		<li ng-repeat="newWitness in addWitnesses" class="listWitnesses">
            <div>
                <b>Address:</b>
                <div class="oldWitness">{{delWitnesses[$index]}}</div>
            </div>
            <div ng-if="witnessesAditionalInfo[delWitnesses[$index]].name">
                <b>Name:</b> <div>{{witnessesAditionalInfo[delWitnesses[$index]].name}}</div>
            </div>
            <div ng-if="witnessesAditionalInfo[delWitnesses[$index]].url">
                <b>URL:</b> <div>{{witnessesAditionalInfo[delWitnesses[$index]].url}}</div>
            </div>

			<div translate>to</div>

            <div>
                <b>Address:</b> <div class="newWitnesses">{{delWitnesses[$index]}}</div>
            </div>
            <div ng-if="witnessesAditionalInfo[newWitness].name">
                <b>Name:</b> <div>{{witnessesAditionalInfo[newWitness].name}}</div>
            </div>
            <div ng-if="witnessesAditionalInfo[newWitness].url">
                <b>URL:</b>
                <div>{{witnessesAditionalInfo[newWitness].url}}</div>
            </div>
		</li>
	</ul>
    <div id="buttons">
      <div class="columns small-6">
        <button class="button black expand round m0" style="background-color: #4A90E2"
                ng-click="replace()" translate>
            Replace
        </button>
      </div>
      <div class="columns small-6">
        <button class="button black expand round m0" ng-click="later()" translate>Maybe later</button>
      </div>
    </div>
</div>
</div>

<style>
    .listWitnesses {
        margin-bottom: 25px;
    }

    .oldWitness {
        color: red;
    }

    .newWitnesses {
        color: green;
    }
    #buttons{
      margin-top: 30px;
    }
</style>
