<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="later()" class="p10">
      <span class="text-close" translate>Close</span>
    </a>
  </section>
</nav>
<div class="modal-content fix-modals-touch">
<h1 class="text-center" translate>New witnesses</h1>
<div class="row">
	<div class="columns" translate>
		The hub suggests replacing the following witnesses:
	</div>
	<ul class="no-bullet m0 columns">
		<li ng-repeat="newWitness in addWitnesses" class="listWitnesses">
			<div class="delWitnesses">{{delWitnesses[$index]}}</div>
			<div translate>to</div>
			<div class="addWitnesses">{{newWitness}}</div>
		</li>
	</ul>
    <div id="buttons">
      <div class="columns small-6">
        <button class="button black expand round m0" style="background-color: #4A90E2"
                ng-click="replace()" translate>
            Replace
        </button>
      </div>
      <div class="columns small-6">
        <button class="button black expand round m0" ng-click="later()" translate>Maybe later</button>
      </div>
    </div>
</div>
</div>

<style>
    .listWitnesses {
        margin-bottom: 25px;
    }

    .delWitnesses {
        color: red;
    }

    .addWitnesses {
        color: green;
    }
    #buttons{
      margin-top: 30px;
    }
</style>