<div class="text-center">
    <logo width="146"></logo>
    <div class="text-white" ng-include="'views/includes/version.html'"></div>
</div>
<h1 class="text-center">New version is available!</h1>
<h3 class="text-center">
    <div id="buttons" class="row">
        <div class="columns small-6">
          <button class="button black expand round m0" style="background-color: #4A90E2"
                  ng-click="openDownloadLink()">
              Download
          </button>
        </div>
        <div class="columns small-6">
          <button class="button black expand round m0" ng-click="later()">Later</button>
        </div>
    </div>
</h3>
<style>
    #buttons{
        margin-top: 30px;
    }
</style>