<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="later()" class="p10">
      <span class="text-close" translate>Close</span>
    </a>
  </section>
</nav>
<div class="modal-content fix-modals-touch">
<h1 class="text-center">New witnesses</h1>
<div>
    <div ng-repeat="n in addWitnesses" class="listWitnesses">
        <div class="delWitnesses">{{delWitnesses[$index]}}</div>
        <div class="addWitnesses">{{n}}</div>
    </div>
    <div id="buttons" class="row">
      <div class="columns small-6">
        <button class="button black expand round m0" style="background-color: #4A90E2"
                ng-click="replace()">
            Replace
        </button>
      </div>
      <div class="columns small-6">
        <button class="button black expand round m0" ng-click="later()">Later</button>
      </div>
    </div>
</div>
</div>

<style>
    .listWitnesses {
        margin-bottom: 25px;
    }

    .delWitnesses {
        color: red;
    }

    .addWitnesses {
        color: green;
    }
    #buttons{
      margin-top: 30px;
    }
</style>