<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="cancel()" class="p10">
      <span class="text-close" translate>Close</span>
    </a>
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title ellipsis" ng-style="{'color':color}" translate>
      Share
    </h1>
  </section>
</nav>

<div class="modal-content fix-modals-touch">
  <div ng-show="!amountInSmallestUnits" class="row m20t">
    <div class="large-12 large-centered columns">
        <div ng-if="address">
        	<p translate>Click the button to <span ng-if="isResend">re</span>send email</p>
          <button ng-if="isCordova" class="button black round expand" ng-style="{'background-color':index.backgroundColor}" ng-click="shareToEmail()">{{buttonLabel}}</button>
          <a class="button black round expand" ng-style="{'background-color':index.backgroundColor}" href="mailto:{{address}}?body={{text | encodeURIComponent}}&subject={{subject | encodeURIComponent}}" ng-if="!isCordova">{{buttonLabel}}</a>
        </div>
        <div>
        	<p><span ng-if="address" translate>Or </span><span translate>copy the text below and send it to the recipient via any messaging app or print it on paper</span>:</p>
        	<textarea readonly rows=4 onclick="this.focus();this.select()">{{text}}</textarea>
        </div>
    </div>
  </div>

</div>
