<style>
.p10l {
	padding-left: 10px;
}
.p20l {
	padding-left: 20px;	
}
.attestor {
	clear: both;
	font-size: 13px;
	line-height: 2;
}
.w40 {
	width: 40px !important;
}
.w80 {
	width: 80px !important;
}
.unit {
	font-size: 14px;
}
.title {
	margin-top: 10px;
	margin-bottom: 0;
}
span.capitalize {
	display: inline-block;
}
span.capitalize:first-letter {
	text-transform: uppercase;
}
form[name="prosaicContractForm"] {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	line-height: 26px;
}
.validation_check {
	color: #3498DB;
	border-bottom: 1px dashed #3498DB;
	cursor: pointer;
	margin-right: 10px;
}
.copy_button {
	position: absolute;
	right: 10px;
}
.contractTitle {
	font-weight: 700;
	font-size: 32px;
}
.button_text_note {
	display: block;
	font-size: 11px;
}
</style>
<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="close()" class="p10">
      <span class="text-close" translate>Close</span>
    </a>
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title ellipsis" translate ng-style="{'color': index.backgroundColor}">
      Contract with arbitration dispute
    </h1>
  </section>
</nav>


<div class="modal-content fix-modals-touch p10">
	<h1 class="contractTitle enable_text_select" translate>{{title | capitalize}}</h1>

	<h3 class="title" translate>Status: <b translate>{{status}}</b></h3>

	<h3 class="person title" translate>Contract hash</h3>
	<div class="attestor p10l enable_text_select">{{contract_hash}}</div>

	<h3 class="person title" translate>Plaintiff – <i translate>{{plaintiff_is_payer ? 'Buyer' : 'Seller'}}</i></h3>
		<div class="name p10l">
			<div class="attestor"><span translate>address</span>: <span class="enable_text_select">{{plaintiff_address}}</span></div>
			<div class="attestor">
				<a ng-click="pair(plaintiff_pairing_code)" translate>pair</a> – <span translate>start chat with this person</span>
			</div>
		</div>
	<h3 class="person title" translate>Respondent – <i translate>{{plaintiff_is_payer ? 'Seller' : 'Buyer'}}</i></h3>
		<div class="name p10l">
			<div class="attestor"><span translate>address</span>: <span class="enable_text_select">{{respondent_address}}</span></div>
			<div class="attestor">
				<a ng-click="pair(respondent_pairing_code)" translate>pair</a> – <span translate>start chat with this person</span>
			</div>
		</div>

	<h3 class="title" translate>Amount</h3>
	<span class="enable_text_select p10l" style="width: 100%; word-wrap: break-word;">{{amountStr}} <i ng-if="asset">{{assetMetadata ? '' : 'of ' + asset}}</i></span>

	<h3 class="title" translate>Text</h3>
	<span class="enable_text_select" style="width: 100%; word-wrap: break-word;white-space: pre-wrap;" markdown>{{text}}</span>

	<h3 class="title" translate>Contact Info</h3>
	<span class="p10l" style="width: 100%; word-wrap: break-word;white-space: pre-wrap;" >Respondent contacts: <span class="enable_text_select">{{respondent_contact_info}}</span></span><br>
	<span class="p10l" style="width: 100%; word-wrap: break-word;white-space: pre-wrap;" >Plaintiff contacts: <span class="enable_text_select">{{plaintiff_contact_info}}</span></span>

	<h3 class="unit"><span translate>Proof of contract signing</span>: <span ng-click="expandProofBlock()" class="validation_check">expand</span></h3>
	
	<div ng-show="proofBlockExpanded" class="description"><br>
		<span class="text-bold" translate>unit in DAG:</span> <a ng-click="openInExplorer(unit)">{{unit}}</a><br><br>
		<span class="description" translate>To verify contract integrity, SHA256 hash is calculated from three concatenated components: sha256(title+text+creation_date) and encoded in BASE64 format. After the contract was accepted, a unit with its hash was posted into the DAG. You can check that contract text was not modified by comparing the hashes in the DAG and calculated from this contract.</span><br><br>
		<span class="text-bold" translate>creation date:</span> {{creation_date}}<br><br>
		<span class="text-bold" translate>hash source string:</span> <a class="copy_button" ng-click="copyToClipboard()">copy text</a>
		<textarea readonly="readonly" id="sourcetext">{{title}}{{text}}{{creation_date}}</textarea>
		
		<span ng-click="checkValidity()" translate class="validation_check" ng-show="!validity_checked">validate contract integrity</span>
		<span ng-show="validity_checked">integrity check: 
			<i class="validation-icon icon-checkmark-circle size-14 text-primary" ng-show="contract_hash === calculated_hash && contract_hash === hash_inside_unit" title="{{'valid' | translate}}"></i><span class="mobile" ng-show="contract_hash === calculated_hash && contract_hash === hash_inside_unit" translate>valid</span>
			<i class="validation-icon icon-close-circle size-14 has-error" ng-show="contract_hash !== calculated_hash || contract_hash !== hash_inside_unit" title="{{'not valid' | translate}}"></i><span class="mobile" ng-show="contract_hash !== calculated_hash || contract_hash !== hash_inside_unit" translate>not valid</span>
		</span><br><br>

		<span ng-show="validity_checked"><span class="text-bold" translate>calculated hash:</span> {{calculated_hash}}</span><br>
		<span ng-show="validity_checked"><span class="text-bold" translate>hash published in DAG:</span> {{hash_inside_unit}}</span>
	</div>

	<div ng-if="error" class="row columns">
			<span class="has-error size-12">
			{{error}}
		</span>
	</div>


	<div ng-if="status === 'pending'" class="m20t">
		<h3 class="title" translate>Resolve contract</h3>
		<div class="attestor p10l" translate>post your final decision, marking one of the side as a winner</div>
		<div class="large-6 medium-6 small-6 columns center m10t">
			<button class="button expand round" ng-class="yes_button_class" ng-click="resolve(plaintiff_address)">
				<span class="tu" translate>Plaintiff</span>
				<span class="button_text_note" translate>{{plaintiff_is_payer ? 'Buyer' : 'Seller'}}</span>
			</button>
		</div>

		<div class="large-6 medium-6 small-6 columns center m10t">
			<button class="button expand round" ng-class="yes_button_class" ng-click="resolve(respondent_address)">
				<span class="tu" translate>Respondent</span>
				<span class="button_text_note" translate>{{plaintiff_is_payer ? 'Seller' : 'Buyer'}}</span>
			</button>
		</div>
	</div>
</div>
