<style>
.p10l {
	padding-left: 10px;
}
.p20l {
	padding-left: 20px;	
}
.attestor {
	clear: both;
	font-size: 11px;
}
.w40 {
	width: 40px !important;
}
.w80 {
	width: 80px !important;
}
.unit {
	font-size: 14px;
}
.title {
	margin-top: 10px;
	margin-bottom: 0;
}
span.capitalize {
	display: inline-block;
}
span.capitalize:first-letter {
	text-transform: uppercase;
}
form[name="prosaicContractForm"] {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	line-height: 26px;
}
.validation_check {
	color: #3498DB;
	border-bottom: 1px dashed #3498DB;
	cursor: pointer;
	margin-right: 10px;
}
.validation_check.disabled {
	cursor: progress;
	color: #666666;
	border-bottom: 1px dashed #666666;
}
.copy_button {
	position: absolute;
	right: 10px;
}
.description.center {
	display: inline-block;
	width: 100%;
}
.spinner > div {
	background-color: #008CBA;
}
.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	width: 100%;
}
</style>
<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="close()" class="p10">
      <span class="text-close" translate>Close</span>
    </a>
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title ellipsis" translate ng-style="{'color': index.backgroundColor}">
      Arbiter contract
    </h1>
  </section>
</nav>


<div class="modal-content fix-modals-touch p10">
	<h3><span translate>Status</span>: <b>{{status}}</b> <span ng-show="status === 'dispute_resolved'">{{me_is_winner ? "in your favor" : "in favor of your peer"}}</span></h3>

	<h3 ng-if="status == 'pending'"><span translate>Valid till</span>: {{valid_till | date:'yyyy-MM-dd HH:mm'}}</h3>
	<h3 ng-if="status == 'expired'"><span translate>Expired on</span>: {{valid_till | date:'yyyy-MM-dd HH:mm'}}</h3>

	<h3 class="person title" translate>Me</h3>
		<div class="name p10l">
			<span class="person_name">{{my_name}}</span>
			<div class="attestor" ng-show="my_attestor.address"><span translate>attested by:</span> <a ng-click="openInExplorer(my_attestor.attestation_unit)">{{my_attestor.address}}</a> <i class="validation-icon icon-checkmark-circle size-14 text-primary" ng-show="my_attestor.trusted" title="{{'attested by trusted attestor' | translate}}"></i><span class="mobile" ng-show="my_attestor.trusted && isMobile" translate>attested by trusted attestor</span><i class="validation-icon icon-close-circle size-14 has-error" ng-show="!my_attestor.trusted" title="{{'attestor is not trusted by you' | translate}}"></i><span class="mobile" ng-show="!my_attestor.trusted && isMobile" translate>attestor is not trusted by you</span></div>
			<div class="attestor"><span translate>address</span>: {{my_address}}</div>
			<li class="tumbler m15t">
				<span translate class="m10r side" ng-class="{active: !me_is_payer}">Seller</span>
		        <switch ng-model="me_is_payer" class="blue" disabled="true"></switch>
				<span translate class="m10l side" ng-class="{active: me_is_payer}">Buyer</span>
		    </li>
		    <span class="description center" ng-show="me_is_payer" translate>You will pay {{peer_device_name}} for their services.</span>
		    <span class="description center" ng-show="!me_is_payer" translate>{{peer_device_name}} will pay for your services.</span>
		</div>
	<h3 class="person title" translate>Peer</h3>
		<div class="name p10l">
			<span class="person_name">{{peer_name}}</span>
			<div class="attestor" ng-show="peer_attestor.address"><span translate>attested by:</span> <a ng-click="openInExplorer(peer_attestor.attestation_unit)">{{peer_attestor.address}}</a> <i class="icon-checkmark-circle size-14 text-primary" ng-show="peer_attestor.trusted" title="{{'attested by trusted attestor' | translate}}"></i><span class="mobile" ng-show="peer_attestor.trusted && isMobile" translate>attested by trusted attestor</span><i class="icon-close-circle size-14 has-error" ng-show="!peer_attestor.trusted" title="{{'attestor is not trusted by you' | translate}}"></i><span class="mobile" ng-show="!peer_attestor.trusted && isMobile" translate>attestor is not trusted by you</span></div>
			<div class="attestor"><span translate>address</span>: {{peer_address}}</div>
		</div>
	<h3 class="person title" translate>Arbiter</h3>
		<div class="name p10l">
			<span class="person_name" ng-if="arbiter_name">{{arbiter_name}}</span>
			<div class="attestor"><span translate>address</span>: <a ng-href="{{arbstore_address}}/arbiter/{{arbiter_address}}" ng-click="openLink($event.target.getAttribute('href'))">{{arbiter_address}}</a></div>
		</div>

	<h3 class="title" translate>Amount</h3>
	<span class="enable_text_select" style="width: 100%; word-wrap: break-word;">{{amountStr}} <i ng-if="asset">of {{assetMetadata ? assetMetadata.name : asset}}</i></span>

	<h3 class="title" translate>Title of contract</h3>
	<span class="enable_text_select" style="width: 100%; word-wrap: break-word;">{{title}}</span>

	<h3 class="title" translate>Text</h3>
	<span class="enable_text_select" style="width: 100%; word-wrap: break-word;white-space: pre-wrap;" markdown>{{text}}</span>

	<h3 class="title" translate>Contact info</h3>
	<span class="enable_text_select" style="width: 100%; word-wrap: break-word;white-space: pre-wrap; line-height: 30px;" >Peer contacts: {{peer_contact_info}}</span><br>
	<span ng-if="!(!my_contact_info && status == 'pending' && isIncoming)" class="enable_text_select" style="width: 100%; word-wrap: break-word;white-space: pre-wrap;line-height: 30px;" >My contacts: {{my_contact_info}}</span>
	<div ng-if="!my_contact_info && status == 'pending' && isIncoming">
		My contacts: 
		<textarea id="contact_info" name="contactInfo" class="textarea-with-info" ng-model="form.my_contact_info" rows=2 msd-elastic="\n" placeholder="email, whatsapp, telegram, phone number, etc."></textarea>
		<div class="help-text">It will be shared with peer and arbiter as a backup method to reach you.</div>
	</div>

	<h3 class="unit" ng-if="status === 'accepted' || status === 'paid' || status === 'signed' || status === 'cancelled' || status === 'completed' || status === 'in_dispute' || status === 'dispute_resolved'"><span translate>Proof of contract signing</span>: <span ng-if="unit" ng-click="expandProofBlock()" class="validation_check">expand</span><span translate ng-if="!unit">the contract is not signed yet</span></h3>
	
	<div ng-show="proofBlockExpanded" class="description"><br>
		<span class="text-bold" translate>unit in DAG:</span> <a ng-click="openInExplorer(unit)">{{unit}}</a><br><br>
		<span class="description" translate>To verify contract integrity, SHA256 hash is calculated from three concatenated components: sha256(title+text+creation_date) and encoded in BASE64 format. After the contract was accepted, a unit with its hash was posted into the DAG. You can check that contract text was not modified by comparing the hashes in the DAG and calculated from this contract.</span><br><br>
		<span class="text-bold" translate>creation date:</span> {{creation_date}}<br><br>
		<span class="text-bold" translate>hash source string:</span> <a class="copy_button" ng-click="copyToClipboard()" ng-hide="hash === calculated_hash_V1">copy text</a>
		<textarea readonly="readonly" id="sourcetext" ng-hide="hash === calculated_hash_V1">{{title}}{{text}}{{creation_date}}</textarea>
		
		<span ng-click="checkValidity()" translate class="validation_check" ng-show="!validity_checked">validate contract integrity</span>
		<span ng-show="validity_checked">integrity check: 
			<i class="validation-icon icon-checkmark-circle size-14 text-primary" ng-show="(hash === calculated_hash || hash === calculated_hash_V1) && hash === hash_inside_unit" title="{{'valid' | translate}}"></i><span class="mobile" ng-show="(hash === calculated_hash || hash === calculated_hash_V1) && hash === hash_inside_unit" translate>valid</span>
			<i class="validation-icon icon-close-circle size-14 has-error" ng-show="(hash !== calculated_hash && hash !== calculated_hash_V1) || hash !== hash_inside_unit" title="{{'not valid' | translate}}"></i><span class="mobile" ng-show="(hash !== calculated_hash && hash !== calculated_hash_V1) || hash !== hash_inside_unit" translate>not valid</span>
		</span><br><br>

		<span ng-show="validity_checked"><span class="text-bold" translate>calculated hash:</span> {{hash == calculated_hash ? calculated_hash : calculated_hash_V1}}</span><br>
		<span ng-show="validity_checked"><span class="text-bold" translate>hash published in DAG:</span> {{hash_inside_unit}}</span>
	</div>

	<div ng-if="index.m < index.n && index.m > 1 && ((status == 'pending' && isIncoming) || (status === 'signed' && !!me_is_payer) || (status === 'dispute_resolved' && me_is_winner))">
		<span class="title" translate>Cosigners</span>
		<div class="row columns large-12 medium-12">
			<cosigners></cosigners>
		</div>
	</div>

	<div ng-if="error" class="row columns m20b">
			<span class="has-error size-12">
			{{error}}
		</span>
	</div>

	<div class="row m20t" ng-if="(status == 'pending' || status === 'accepted') && isIncoming && index.isEnoughSignersSelected()">
		<div class="columns" ng-class="{'small-6': status == 'pending', 'small-12': status != 'pending'}">
			<button class="button expand round" ng-class="yes_button_class" ng-click="accept()">
				<i ng-class="yes_icon"></i> <span>{{(confirm_label || (status == 'pending' ? 'Accept' : 'Retry signing'))|translate}}</span>
			</button>
		</div>

		<div class="large-6 medium-6 small-6 columns" ng-if="status == 'pending'">
			<button class="button expand round" ng-class="cancel_button_class" ng-click="decline()">
				<i class="fi-x"></i> <span class="tu">{{(cancel_label || 'Decline')|translate}}</span>
			</button>
		</div> 

		<div class="small-12 columns size-14" translate>
			After accepting the contract, you will be asked to sign a transaction containing this contract's hash. This second step happens as soon as the offerer receives your response.
		</div>
	</div>

	<div class="row columns m20t" ng-show="status === 'pending' && !isIncoming">
		<div class="large-12 medium-12 small-12 columns">
			<button class="button expand round" ng-class="cancel_button_class" ng-click="revoke()">
				<i class="fi-x"></i> <span class="tu" translate>Revoke</span>
			</button>
		</div>
	</div>

	<div class="row columns m20t" ng-show="status === 'signed' && !!me_is_payer">
		<div class="large-12 medium-12 small-12 columns">
			<button class="button expand round" ng-class="yes_button_class" ng-click="pay()">
				<span class="ellipsis"><i class="yes_icon"></i> <span class="tu" translate>Pay</span> {{amountStr}} {{assetMetadata ? assetMetadata.name : asset}}</span>
			</button>
		</div>
	</div>

	<div class="row columns m20t" ng-show="(status === 'paid' || status === 'in_dispute') && !!unit">
		<div class="large-12 medium-12 small-12 columns center" ng-show="!confirm_complete">
			<button class="button expand round" ng-class="yes_button_class" ng-click="confirmcomplete(true)">
				<i class="yes_icon"></i> <span class="tu" translate>{{me_is_payer?'Release funds':'Refund'}}</span>
			</button>
		</div>
		<div class="large-6 medium-6 small-6 columns center" ng-show="confirm_complete">
			<button class="button expand outline dark-gray round" ng-class="cancel_button_class" ng-click="confirmcomplete(false)">
				<i class="fi-x"></i> <span class="tu" translate>Cancel</span>
			</button>
		</div>
		<div class="large-6 medium-6 small-6 columns center" ng-show="confirm_complete">
			<button class="button expand round" ng-class="yes_button_class" ng-click="complete()">
				<i class="yes_icon"></i> <span class="tu" translate>{{me_is_payer?'Confirm':'Refund'}}</span>
			</button>
		</div>
		<div class="large-12 medium-12 small-12 columns description m10b">
			<span ng-show="me_is_payer" translate>Releases the funds locked on the contract to the seller and completes the contract.</span>
			<span ng-show="!me_is_payer" translate>Sends money back to the buyer and completes the contract.</span>
		</div>
		<div class="large-12 medium-12 small-12 columns center" ng-hide="status === 'in_dispute' || status === 'dispute_resolved' || status === 'in_appeal' || confirm_dispute">
			<span ng-click="confirm_dispute=true" translate class="validation_check" ng-class="{disabled: loading}">open dispute</span>
		</div>
		<div class="large-5 medium-5 small-5 columns center" ng-show="confirm_dispute">
			<span ng-click="confirm_dispute=false" translate class="validation_check" ng-class="{disabled: loading}">cancel</span>
		</div>
		<div class="spinner" ng-show="loading">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
		<div class="large-5 medium-5 small-5 columns right" ng-show="confirm_dispute">
			<span ng-click="dispute()" translate class="validation_check" ng-class="{disabled: loading}">open dispute</span>
		</div>
		<div class="large-12 medium-12 small-12 columns description m10t" ng-hide="status === 'in_dispute' || status === 'dispute_resolved' || status === 'in_appeal'">
			<span translate>{{ me_is_payer ? 'If the counterparty refuses to fulfil their obligations' : 'If you have completed your work and the counterparty refuses to release the funds' }}, you can call the arbiter {{arbiter_name}} to resolve dispute. This reveals the contract text to the arbiter who will ask you to pay a fee for their services. Be prepared to provide evidence to prove your point. The arbiter will contact the other party to hear their point of view and evidence. The arbitration process might take a long time.</span>
		</div>
	</div>

	<div class="row columns m20t" ng-show="status === 'dispute_resolved' || (status === 'in_appeal' && me_is_winner)">
		<div class="small-12 columns" ng-show="me_is_winner && !funds_claimed">
			<button class="button expand round" ng-class="yes_button_class" ng-click="claim()">
				<i class="yes_icon"></i> <span class="tu" translate>Claim funds</span>
			</button>
		</div>
		<div class="small-12 columns" ng-show="!me_is_winner">
			<button class="button expand outline dark-gray round" ng-click="appeal()">
				<span class="tu" translate>Appeal to moderator</span>
			</button>
		</div>
	</div>
</div>
