<nav ng-controller="topbarController as topbar" class="tab-bar">
  <section class="left-small">
    <a id="hamburger" class="p10" ng-show="!goBackToState && !closeToHome  && !index.noFocusedWallet"
      ng-click="index.openMenu()"><i class="fi-list size-24"></i>
    </a>
    <a ng-show="goBackToState"
      ng-click="$root.go('^', true); goBackToState = null"><i class="icon-arrow-left3 icon-back"></i>
      <span class="text-back">{{'Back'|translate}}</span>
    </a>

    <a ng-show="closeToHome" class="p10 "
      ng-click="topbar.goHome(); closeToHome = null">
      <span class="text-close">{{'Close'|translate}}</span>
    </a>
  </section>

  <section class="right-small" ng-show="showCamera">
    <qr-scanner ng-show="index.isComplete" on-scan="topbar.onQrCodeScanned(data)" before-scan="topbar.onBeforeScan()"></qr-scanner>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title ellipsis" ng-style="{'color': noColor ? '#4A90E2' : index.backgroundColor, 'max-width': '100%'}">
		<span ng-if="index.arrBalances[index.assetIndex].shared === undefined && !index.shared_address || titleSection">{{(titleSection|translate) || (index.shared_address || index.alias || index.walletName)}}</span>
		<span ng-if="(index.arrBalances[index.assetIndex].shared !== undefined || index.shared_address) && !titleSection">
			<a ng-click="index.openSubwalletModal()" ng-style="{'color': noColor ? '#4A90E2' : index.backgroundColor}">
				<span class="ellipsis" style="max-width: calc(100% - 14px);float: left;">
					{{(index.shared_address || index.alias || index.walletName)}}
				</span>
				<span class="arrow-down" ng-style="{'float': 'left', 'border-top-color': index.backgroundColor}"></span>
			</a>
		</span>
    </h1>
  </section>
</nav>
