<style>
.topbar-wrapper {
  width: 224px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar-title-maxwidth {
  height: 45px;
  line-height: 45px;
  max-width: 160px;
}

@media only screen and (max-width: 320px) {
  .topbar-wrapper {
    width: 145px;
  }

  .topbar-title-maxwidth {
    height: 45px;
    line-height: 45px;
    max-width: 120px;
  }
}
</style>
<nav ng-controller="topbarController as topbar" class="tab-bar" ng-init="topbar.init()">
  <section class="left-small" style="align-items: center; display: flex;">
    <a id="hamburger" class="p10" ng-show="!goBackToState && !closeToHome  && !index.noFocusedWallet"
      ng-click="index.openMenu()"><i class="fi-list size-24" style="display: flex"></i>
    </a>
    <a ng-show="goBackToState"
      ng-click="$root.go('^', true); goBackToState = null"><i class="icon-arrow-left3 icon-back"></i>
      <span class="text-back">{{'Back'|translate}}</span>
    </a>

    <a ng-show="closeToHome" class="p10 "
      ng-click="topbar.goHome(); closeToHome = null">
      <span class="text-close">{{'Close'|translate}}</span>
    </a>
  </section>

  <section class="right-small" ng-show="showCamera">
    <qr-scanner ng-show="index.isComplete" on-scan="topbar.onQrCodeScanned(data)" before-scan="topbar.onBeforeScan()"></qr-scanner>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title ellipsis" style="color: #4E4E4E !important;display: flex;align-items: center;justify-content: center;height:45px;">
      <span ng-if="(index.arrBalances[index.assetIndex].shared === undefined && !index.shared_address && !titleSection && index.tab !== 'walletHome') || topbar.showableWalletAvatar()" class="topbar-avatar" ng-style="{'background-color':noColor ? '#4A90E2': index.backgroundColor}">{{(index.alias || index.walletName) | limitTo: 1}}</span>
		<span ng-if="index.arrBalances[index.assetIndex].shared === undefined && !index.shared_address || titleSection" style="color: #4E4E4E !important;" class="ellipsis topbar-title-maxwidth">{{(titleSection|translate) || (index.shared_address || index.alias || index.walletName)}}</span>
		<span ng-if="(index.arrBalances[index.assetIndex].shared !== undefined || index.shared_address) && !titleSection">
			<a ng-click="index.openSubwalletModal()" class="topbar-wrapper" style="color: #4E4E4E !important">
        <span class="topbar-avatar" ng-if="index.tab !== 'walletHome'" ng-style="{'background-color':noColor ? '#4A90E2': index.backgroundColor}">{{(index.alias || index.walletName) | limitTo: 1}}</span>
				<span class="ellipsis topbar-title-maxwidth" style="float: left;">
					{{(index.shared_address || index.alias || index.walletName)}}
				</span>
				<span class="arrow-down" style="border-top-color: #4E4E4E !important"></span>
			</a>
		</span>
    </h1>
  </section>
</nav>
