[Desktop Entry]
Type=Application
Version=1.0
Name=Byteball
Comment=Smart payments made simple
Exec=bash -c 'cd $(dirname %k) && ./Byteball %u'
Icon=icon-white-256.png
Terminal=false
Categories=Office;Finance;
MimeType=x-scheme-handler/byteball;
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage

